<!-- <form-generic-input></form-generic-input> -->

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="/">Reusable UI Library</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/login">Login</a>
      <a class="p-2 text-dark" routerLink="/register">Register</a>
    </nav>
  </div>
  <div class="d-flex justify-content-center">
    <form-generic-spinner type="timer"></form-generic-spinner>
    <router-outlet></router-outlet>
  </div>
